<header>
    <div class="container-header">
        <i class="fas fa-feather-alt"></i>
        <h1>Your Resume</h1>
        
    </div>
    <h3 class="subtitle"><%= title %></h3>
    
    <div class="container-header-bottom">
        
        
        <a href="/"><i class="fas fa-home"></i> Home</a>
        <form action="">
            <input type="text">
            <button type="submit" ><i class="fas fa-search"></i></button>
        </form>
        
    </div>
    
</header>