<header>
    <div class="container-header">
        <i class="fas fa-feather-alt"></i>
        <h1>Your Resume</h1>
        
    </div>
    <h4 class="subtitle"><%= title %></h4>
    <div class="container-header-bottom">
        
        <a href="">Table of contents</a>
        <form action="">
            <input type="text">
            <button type="submit" ><i class="fas fa-search"></i></button>
        </form>
        
    </div>
    
</header>