<%- include('./partials/head') %>
<%- include('./partials/header') %>
<body>
    <div class="container1">
        <div class="text">
            <h3>Arrays  </h3>
            <p>It´s an efficient way to organize information</p>
            <p>It´s a data structure that stores elements of the same type, describing their content in lowercase</p>
            <p>They can be thought of as blocks of information, group contiguously, their index starts at "0" and goes up to the number of elements it contains -1</p>
            <p>Example:</p>
        </div>
        <div class="example">
            <pre>let array = ["objeto1","objeto2","objeto4"]</pre>
            <p class="comment">//Returns the number of objects</p>
            <pre>console.log(array.length)</pre>
            
        </div>
</body>
<%- include('./partials/footer') %>