<%- include('./partials/head') %>
<%- include('./partials/header') %>

<body>
    <div class="container1">
        <div class="text">
            <h3>Falsy Values  </h3>
            <p>There are 6 values that are known as "falsy values", this means that are considered as false </p>
            <p>Example:</p>
        </div>
        <div class="example">
            <pre>- false</pre>
            <pre>- undefined </pre>
            <pre>- null</pre>
            <pre>- 0</pre>
            <pre>- NaN</pre>
            <pre>- "" ( empty string )</pre>
            
        </div>
</body>

<%- include('./partials/footer') %>