
<%- include('./partials/head') %>

<%- include('./partials/header') %>
<body>

    <div class="text">
        <h2>Functions</h2>
        <p>Functions in JS are declare using the keyword "function", this creates an object that posses all the properties, methods and behaviors of this. By default, functions return "undefined", if we want a different result, we should use the keyword "return"  follow by the value that we want to asign it</p>
    </div>
    
</body>
</html>