
<%- include('./partials/head') %>

<%- include('./partials/header') %>
<body>

    <div class="text">
        <h2>Functions</h2>
        <p>Functions in JS are declare using the keyword "function", this creates an object that posses all the properties, methods and behaviors of this. By default, functions return "undefined", if we want a different result, we should use the keyword "return"  follow by the value that we want to asign it</p>
        <p>Example: </p>
    </div>
    <div class="example">
        
        <p class="comment">//we use the keyword "function" to initialize the object function and we pass or not, one or more arguments</p>
        <p>function greetings(name) {</p>
        <p class="comment">//Prints the greeting adding the variable "name"</p>
        <p> console.log("hello, " + name)</p>
        <p class="lastline">}</p>

        <form class="example-form" action="">
            <input type="text" placeholder="input: ">
            <button type="submit">Submit</button>
        </form>
        <div class="answer-box">
            <p class="answer" id="answer"></p>
        </div>
        
    </div>
    <div class="example">
        
        <p class="comment">//we use the keyword "function" to initialize the object function and we pass or not, one or more arguments</p>
        <p>function sum(a,b) {</p>
        <p class="comment">//Returns the addition of a + b</p>
        <p> console.log("hello, " + name)</p>
        <p class="lastline">}</p>

        <form class="example-form" action="">
            <input type="text" placeholder="input: ">
            <button type="submit">Submit</button>
        </form>
        <div class="answer-box">
            <p class="answer" id="answer"></p>
        </div>
        
    </div>
    
</body>
</html>