
<%- include('./partials/head') %>

<%- include('./partials/header') %>
  <body>
    <div class="body-box">
      <p>Welcome to Your Resume!!</p>
      <p>Let´s learn together</p>  
    </div>
    <div class="body-box-link"> 
      <a href="/functions">Functions</a>
    </div>
    <div class="body-box-link"> 
      <a href="/letconst">Let & Const</a>
    </div>
    <div class="body-box-link"> 
      <a href="/operators">Operators</a>
    </div>
    <div class="body-box-link"> 
      <a href="conditionals">Conditionals</a>
    </div>
    <div class="body-box-link"> 
      <a href="/falsy">Falsy Values</a>
    </div>
    <div class="body-box-link"> 
      <a href="/switch">Switch</a>
    </div>
    <div class="body-box-link"> 
      <a href="/strings">Strings</a>
    </div>
    <div class="body-box-link"> 
      <a href="/loops">Loops</a>
    </div>
    <div class="body-box-link"> 
      <a href="">Arrays</a>
    </div>
    
  </body>
</html>


<%- include('./partials/footer') %>